/* todo-list */
dl.todo_list {
	margin-left:12px;
	margin-right: 8px;
	margin-top: 0px;
}
dl.todo_list dt {
	background: #fff url(./bg/metal_panel-title-bg.jpg) no-repeat top left ;
	padding: 2px 5px 2px 18px;
	font-weight: bold;
	font-size: 12px;
	margin-top: 10px;
	colro: #fff;
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #eee;
}
dl.todo_list dt span {
	cursor: pointer;
}
dl.todo_list dt span.no {
	font-size: 8px;
	color: #aaa;
}
dl.todo_list dd {
	margin: 0;
	padding: 5px 15px;
	background: #fff url(./bg/metal_panel-content-bg.jpg) repeat-y top left;
	font-size: 12px;
	font-family: verdana;
	border-bottom: 1px solid #bbb;
	border-right: 1px solid #bbb;
	text-overflow: ellipsis;
	overflow: hidden;
}